In [13]:
import pandas as pd
import re

In [2]:
df = pd.read_excel(r"C:\Users\User\Downloads\Bird Strikes data.xlsx")

In [3]:
df

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,2001-07-25,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,2001-09-14,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,2003-06-23,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25553,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,2011-12-30,No damage,...,False,DUCK? NO DMG REPTD.,Large,Overcast,Unknown bird - large,N,0,1500.0,0,No
25554,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,2011-12-30,No damage,...,False,NaN,Small,Some Cloud,Tree swallow,Y,0,0.0,0,No
25555,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,NaT,No damage,...,False,STRUCK BIRD ON RT FRONT DURING T/O. BIRD REPTD...,NaN,No Cloud,Unknown bird - small,NaN,0,NaN,0,NaN
25556,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,2011-12-31,No damage,...,False,PILOTS REPORT STRIKING UNKNOWN BIRD ON RWY 21L...,Medium,Some Cloud,Unknown bird - medium,Y,0,0.0,0,Yes
25557,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,2011-12-31,Caused damage,...,False,"HIT CENTER OF RADOME, CAVING IN ABOUT 12"". RAD...",Medium,No Cloud,Red-tailed hawk,N,0,0.0,0,Yes

In [4]:
#Display max columns
pd.set_option('display.max_columns',28)

In [5]:
df

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,Origin State,When: Phase of flight,Conditions: Precipitation,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,2,US AIRWAYS*,New York,Climb,NaN,False,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,2001-07-25,Caused damage,2,AMERICAN AIRLINES,Texas,Landing Roll,NaN,False,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,2001-09-14,No damage,2,BUSINESS,Louisiana,Approach,NaN,False,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,2,ALASKA AIRLINES,Washington,Climb,NaN,True,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,2003-06-23,No damage,2,COMAIR AIRLINES,Virginia,Approach,NaN,False,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25553,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,2011-12-30,No damage,2,SKYWEST AIRLINES,California,Approach,Fog,False,False,DUCK? NO DMG REPTD.,Large,Overcast,Unknown bird - large,N,0,1500.0,0,No
25554,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,2011-12-30,No damage,2,US AIRWAYS,Florida,Landing Roll,NaN,False,False,NaN,Small,Some Cloud,Tree swallow,Y,0,0.0,0,No
25555,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,NaT,No damage,NaN,NaN,Virginia,NaN,NaN,False,False,STRUCK BIRD ON RT FRONT DURING T/O. BIRD REPTD...,NaN,No Cloud,Unknown bird - small,NaN,0,NaN,0,NaN
25556,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,2011-12-31,No damage,2,DELTA AIR LINES,Michigan,Landing Roll,NaN,False,False,PILOTS REPORT STRIKING UNKNOWN BIRD ON RWY 21L...,Medium,Some Cloud,Unknown bird - medium,Y,0,0.0,0,Yes
25557,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,2011-12-31,Caused damage,2,XTRA AIRWAYS,Illinois,Take-off run,NaN,True,False,"HIT CENTER OF RADOME, CAVING IN ABOUT 12"". RAD...",Medium,No Cloud,Red-tailed hawk,N,0,0.0,0,Yes

In [21]:
df.head(5)

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,Origin State,When: Phase of flight,Conditions: Precipitation,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
210,208033,Airplane,MINNEAPOLIS-ST PAUL INTL,1000.0,SAAB-340,2 to 10,3,Precautionary Landing,2000-11-13,Caused damage,2,MESABA AIRLINES,Minnesota,Climb,Snow,False,False,"JUST ENTERING CLOUD BASES, STRUCK UNKN # OF BI...",Large,Overcast,Unknown bird - large,N,0,1800.0,0,No
222,205109,Airplane,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,1000.0,CL-RJ100/200,2 to 10,5,Precautionary Landing,2000-12-13,Caused damage,2,COMAIR AIRLINES,Kentucky,Climb,Rain,False,False,DMG TO NOSE GEAR. FLT 957,Medium,Overcast,Unknown bird - medium,N,0,400.0,0,No
260,209544,Airplane,METRO OAKLAND INTL,1000.0,B-737-400,2 to 10,5,Precautionary Landing,2001-03-06,Caused damage,2,ALASKA AIRLINES,California,Climb,Rain,False,False,RETD TO ARPT AFTER REPORTING A BIRDSTRIKE SHOR...,Medium,Some Cloud,Unknown bird - medium,Y,0,8000.0,0,Yes
273,206608,Airplane,ATLANTA INTL,1000.0,A-320,2 to 10,9,Precautionary Landing,2001-04-13,Caused damage,2,AMERICA WEST AIRLINES,Georgia,Take-off run,Rain,False,False,POSSIBLE STARLINGS. 2 BIRDS WERE INGESTED INTO...,Medium,Some Cloud,Unknown bird - medium,N,0,0.0,0,No
339,209838,Airplane,PHILADELPHIA INTL,1000.0,B-737-400,2 to 10,7,Other,2001-08-13,No damage,2,US AIRWAYS*,Pennsylvania,Landing Roll,Rain,False,False,FOG. PREVIOUS ARRIVAL REPTD BIRDS ON RWY. ATC ...,Medium,Overcast,Ring-billed gull,Y,0,0.0,0,Yes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  datetime64[ns]
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                2015 non-null   object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  int64
 23  Feet above ground                        25429 non-null  float64
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(4), object(18)
memory usage: 4.7+ MB

In [7]:
df.dtypes

Record ID                                           int64
Aircraft: Type                                     object
Airport: Name                                      object
Altitude bin                                       object
Aircraft: Make/Model                               object
Wildlife: Number struck                            object
Wildlife: Number Struck Actual                      int64
Effect: Impact to flight                           object
FlightDate                                 datetime64[ns]
Effect: Indicated Damage                           object
Aircraft: Number of engines?                       object
Aircraft: Airline/Operator                         object
Origin State                                       object
When: Phase of flight                              object
Conditions: Precipitation                          object
Remains of wildlife collected?                       bool
Remains of wildlife sent to Smithsonian              bool
Remarks                                            object
Wildlife: Size                                     object
Conditions: Sky                                    object
Wildlife: Species                                  object
Pilot warned of birds or wildlife?                 object
Cost: Total $                                       int64
Feet above ground                                 float64
Number of people injured                            int64
Is Aircraft Large?                                 object
dtype: object

In [8]:
# Check for missing values and handle them
df.dropna(inplace=True)  # Drop rows with missing values

In [10]:
# Remove any duplicate rows
df.drop_duplicates(inplace=True)

In [33]:
# Function to extract numeric values from a string
def extract_numeric_value(text):
    numeric_value = re.findall(r'\d+.*\d*', text)
    if numeric_value:
        return numeric_value[0]
    else:
        return None


# Convert columns with numeric values to the appropriate data type
df['Altitude bin'] = df['Altitude bin'].apply(lambda x: extract_numeric_value(str(x)))
df['Wildlife: Number struck'] = df['Wildlife: Number struck'].apply(lambda x: extract_numeric_value(str(x)))
df['Wildlife: Number Struck Actual'] = df['Wildlife: Number Struck Actual'].apply(lambda x: extract_numeric_value(str(x)))
df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].apply(lambda x: extract_numeric_value(str(x)))
df['Cost: Total $'] = df['Cost: Total $'].apply(lambda x: extract_numeric_value(str(x)))
df['Feet above ground'] = df['Feet above ground'].apply(lambda x: extract_numeric_value(str(x)))
df['Number of people injured'] = df['Number of people injured'].apply(lambda x: extract_numeric_value(str(x)))


# Check if the column exists before applying transformation
#if 'Aircraft: Number of engines' in df.columns:
#    df['Aircraft: Number of engines ?'] = df['Aircraft: Number of engines ?'].apply(lambda x: extract_numeric_value(str(x)))

In [34]:
df.isnull().sum()

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Remarks                                    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [35]:
df.shape

(180, 26)

In [36]:
df.describe()

           Record ID
count     180.000000
mean   245206.261111
std     31016.926623
min    200097.000000
25%    223207.000000
50%    237834.500000
75%    260434.000000
max    319260.000000

In [37]:
#Convert the datetime column to date datatype:

df['FlightDate'] = pd.to_datetime(df['FlightDate']).dt.date


#Check the data type of the column to confirm the conversion:

print(df['FlightDate'].dtype)

object

In [38]:
df.describe()

           Record ID
count     180.000000
mean   245206.261111
std     31016.926623
min    200097.000000
25%    223207.000000
50%    237834.500000
75%    260434.000000
max    319260.000000

In [39]:
df

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,Origin State,When: Phase of flight,Conditions: Precipitation,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
210,208033,Airplane,MINNEAPOLIS-ST PAUL INTL,1000.0,SAAB-340,2 to 10,3,Precautionary Landing,2000-11-13,Caused damage,2,MESABA AIRLINES,Minnesota,Climb,Snow,False,False,"JUST ENTERING CLOUD BASES, STRUCK UNKN # OF BI...",Large,Overcast,Unknown bird - large,N,0,1800.0,0,No
222,205109,Airplane,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,1000.0,CL-RJ100/200,2 to 10,5,Precautionary Landing,2000-12-13,Caused damage,2,COMAIR AIRLINES,Kentucky,Climb,Rain,False,False,DMG TO NOSE GEAR. FLT 957,Medium,Overcast,Unknown bird - medium,N,0,400.0,0,No
260,209544,Airplane,METRO OAKLAND INTL,1000.0,B-737-400,2 to 10,5,Precautionary Landing,2001-03-06,Caused damage,2,ALASKA AIRLINES,California,Climb,Rain,False,False,RETD TO ARPT AFTER REPORTING A BIRDSTRIKE SHOR...,Medium,Some Cloud,Unknown bird - medium,Y,0,8000.0,0,Yes
273,206608,Airplane,ATLANTA INTL,1000.0,A-320,2 to 10,9,Precautionary Landing,2001-04-13,Caused damage,2,AMERICA WEST AIRLINES,Georgia,Take-off run,Rain,False,False,POSSIBLE STARLINGS. 2 BIRDS WERE INGESTED INTO...,Medium,Some Cloud,Unknown bird - medium,N,0,0.0,0,No
339,209838,Airplane,PHILADELPHIA INTL,1000.0,B-737-400,2 to 10,7,Other,2001-08-13,No damage,2,US AIRWAYS*,Pennsylvania,Landing Roll,Rain,False,False,FOG. PREVIOUS ARRIVAL REPTD BIRDS ON RWY. ATC ...,Medium,Overcast,Ring-billed gull,Y,0,0.0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24550,315222,Airplane,WILEY POST-WILL ROGERS MEM,1000.0,LEARJET-31,1,1,Aborted Take-off,2011-08-22,Caused damage,2,GOVERNMENT,Alaska,Take-off run,Rain,True,True,ID BY SMITHSONIAN. INGESTED INTO #2 ENG. FOUR ...,Large,Overcast,Glaucous gull,N,300000,0.0,0,No
24784,316086,Airplane,CRAWFORDSVILLE MUNI ARPT,1000.0,CIRRUS SR 20/22,1,1,Precautionary Landing,2011-09-14,No damage,1,GOVERNMENT,Indiana,Climb,Rain,False,False,NO NOTICEALBE DMG. MADE PREC LDG TO INSPECT TH...,Small,Overcast,Unknown bird - small,Y,0,800.0,0,No
25078,317500,Airplane,CROOKSTON MUNI ARPT-KIRKWOOD FIELD,1000.0,C-172,1,1,Precautionary Landing,2011-10-08,No damage,1,BUSINESS,Minnesota,Approach,Rain,False,False,"WHILE SHOOTING A PRACTICE GPS APCH, WE HEARD A...",Medium,Some Cloud,Unknown bird - medium,N,0,1200.0,0,No
25372,319260,Airplane,KANSAS CITY INTL,1000.0,B-737-300,1,1,Precautionary Landing,2011-11-07,No damage,2,SOUTHWEST AIRLINES,Missouri,Climb,Rain,True,True,ID BY SMITHSONIAN. SMELLED BURNED FEATHERS IN ...,Small,Overcast,Green-winged teal,Y,0,1000.0,0,Yes
25417,318851,Airplane,CHARLOTTE/DOUGLAS INTL ARPT,1000.0,EMB-170,1,1,Aborted Take-off,2011-11-16,Caused damage,2,REPUBLIC AIRLINES,North Carolina,Take-off run,Rain,True,True,ID BY SMITHSONIAN. POSSIBLE DMG TO INTERNAL FA...,Small,Overcast,Rock pigeon,Y,0,0.0,0,No

In [40]:
# Export the DataFrame to an Excel file
df.to_excel('Cleaned_Dataset.xlsx', index=False)